@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/*Universal selector*/

*{
    margin: 0;
     padding: 0;
    box-sizing: border-box;
}
:root{
  --primaryColor: black;
  --secondaryColor: white;
  --alternativeColor: gray;
  --borderColor: #764c9c;
  font-family: 'Poiret One',cursive;
}
/*Logo*/
#logo {
    width: 5rem;
}